@import 'tailwindcss';

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;

  --color-accent-50: #fff7ed;
  --color-accent-100: #ffedd5;
  --color-accent-500: #f97316;
  --color-accent-600: #ea580c;
  --color-accent-700: #c2410c;

  --color-bg-base: #e7e2cf;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
  background: var(--color-bg-base);
}

body {
  margin: 0;
}
